---
import Layout from '../../layouts/Layout.astro';
import Accountsmove from '../../components/records/accountsmove.svelte';

---
<Layout title="Nuevo registro">
	<h1>Nuevo registro</h1>
    <Accountsmove client:visible></Accountsmove>
</Layout>