---
import Layout from '../../layouts/Layout.astro';
import Form from '../../components/records/form.svelte'

---
<Layout title="Nuevo registro">
	<h1>Nuevo registro</h1>
    <Form is_update={true} client:visible></Form>
</Layout>