---
import Layout from '../../layouts/Layout.astro';
import Form from '../../components/categories/form.svelte'

---
<Layout title="Nueva categoría">
	<h1>Nueva categoría</h1>
    <Form is_update={false} client:visible></Form>
</Layout>