---
import Layout from '../../layouts/Layout.astro';
import Dashboard from '../../components/categories/dashboard.svelte';
---

<Layout title="Categorías">
	<h1>Categorías</h1>
	<Dashboard client:visible></Dashboard>
</Layout>