---
import Layout from '../../layouts/Layout.astro';
import Dashboard from '../../components/accounts/dashboard.svelte';
---

<Layout title="Cuentas">
	<h1>Cuentas</h1>
	<Dashboard client:visible></Dashboard>
</Layout>