---
import Layout from '../../layouts/Layout.astro';
import Dashboard from '../../components/fixed/dashboard.svelte';
---

<Layout title="Gastos fijos y créditos">
	<h1>Gastos fijos y créditos</h1>
	<Dashboard client:visible></Dashboard>
</Layout>